* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: white;
    padding: 20px;
}

.section1 {
    text-align: center;
    margin-bottom: 56px;
}

.sec1-image-row {
    display: flex;
    justify-content: center;
    gap: 36px;
    margin-bottom: 52px;
}

img {
    border-radius: 10px;
}

.sec1-content {
    max-width: 810px;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.sec1-title {
    font-family: "Lora", serif;
    margin-bottom: 52px;
    font-size: 40px;
    font-weight: 400;
    line-height: 54px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #2C2A29;
}

.section2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    gap: 10px;
}

.sec2-content-wrapper {
    padding: 40px;
    border-radius: 24px;
    background-color: #f4f0ea;
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 684px;
    height: 800px;
}

.sec2-title {
    font-family: "Lora", serif;
    font-size: 64px;
    font-weight: 400;
    line-height: 74px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-bottom: 32px;
}

.sec2-content {
    font-family: "Lato", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.sec2-content:not(:last-child) {
    margin-bottom: 24px;
}

.sec2-content .content-keyword {
    font-family: "Lato", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-bottom: 8px;
}